*{ 
   padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
  margin: 0;
}

.home {
  height: 100vh;
  width: 100vw;
  background-color: rgb(204, 255, 255);
  gap: 20px;
  display: grid;
  grid-template-areas:
    "header header header header"
    "aside main main main"
    "footer footer footer footer";
}

.part {
  background-color: aquamarine;
  min-height: 100px;
  border: 1px solid black;
}

.menu {
  display: flex;
  gap: 50px;
}

.reserve {
  display: flex;
  gap: 10px;
  align-items: center;
}
.reserve-btn {
  background-color: red;
  border: none;
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  font-weight: 800;
}
.reserve > i {
  font-size: 22px;
}

.menu > select,
.contact-btn {
  background-color: transparent;
  border: none;
  font-weight: 800;
}

.reserve-btn:active {
  background-color: brown;
}
#p1 {
  background-color: white;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#p2 {
  grid-area: aside;
  min-height: 1410px;
  width: 340px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
}

.food-menu {
  background-color: white;
  height: 400px;
  max-width: 300px;
  display: grid;
  box-shadow: 0px 0px 10px lightblue;
}

.menu-header {
  background-color: orangered;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 0px 15px;
}
.food-menu > .items {
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

.food-menu > .items:hover {
  background-color: #f1f1f1;
  border-left: 4px solid orangered;
}



.deal{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 430px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px lightblue;

}
.deal > img{
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
.deal-header{
  background-color: orangered;
  padding: 15px;
  color: white;
  font-weight: 700;
  width: 100%;
}
.size{
  display: flex;
  gap: 20px;
}

.size > div{
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 0px 5px lightblue;
}
.size > div:nth-child(1){
  background-color: orangered;
  color: aliceblue;
}
.price{
  font-size: 40px;
  font-weight: 800;
}
.deal-note{
  text-align: center;
}
.poster{
  background-color: yellow;
  height: 500px;
  background-image: url(https://i.pinimg.com/564x/12/ac/60/12ac606896dfc98f4806b7acababed67.jpg);
  background-size: cover;
  background-position: center right;
  box-shadow: 0px 0px 10px lightblue;
}



#p3 {
  grid-area: main;
  min-height: 1410px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.offer{
  background-color: black;
  background-image: url(./b1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 430px;
  color: #bdadad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 40px;
  gap: 20px;
}
.offer-note{
  background-color: orange;
  padding: 5px 30px;
  text-transform: uppercase;
}
.offer-header{
  font-size: 70px;
  font-weight: 700;
}
.offer-para{
  width: 400px;
}
.offer-btn{
  background-color: orangered;
  border: none;
  color: white;
  font-size: 15px;
  padding: 15px 30px;
}
.popular{
  height: 320px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  color: white;
  
}
.popular-item-1{
  grid-row: 1/3;
  background-image: url(./biriyani.jpg);
background-size: cover;
padding: 20px;
}
.popular-item-2{
  background-image: url(https://i.pinimg.com/564x/a6/08/dc/a608dca35982e969d82c9fbde3ec52a7.jpg);
background-size: cover;
background-position: center;
padding: 20px;
}
.popular-item-3{
  background-image: url(./leg-piece.jpg);
background-size: cover;
background-position: center;
padding: 20px;
}
.display{
  background-color: white;
}
.display-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
height: 220px;
}
.display-note{
  background-color: orange;
  font-size: 30px;
  padding: 5px 15px;
  color: 700px; 
}
.display-header{
  font-size:30px;
  font-weight: 700;
}
.display-line{
  border: 3px solid black;
  width: 100px;
  border-radius: 5px;
}
.display-para{
  text-align: center;
  font-size: 14px;
}
display-icon{
  dispaly:flex;
  gap: 20px;

}
.display-icon > img{
  height: 30px;
}
.display-icon > img:nth-child(1)
{
  border-bottom:2px solid red;
  padding-bottom: 10px;
  height: 40px;
}
.display-items{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  height: 370px;
  width:30%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

}
.card > img{
  width: 220px;
  height: 220px;
  filter: drop-shadow(0px 0px 15px black);
}
.card >p{
  text-align:center;
  font-size: 12px;

}
.ord-btn{
  background-color: orange;
  border: none;
  color:white;
  text-transform: uppercase;
  padding: 10px 70px;
  border-radius: 5px;
}
.ord-btn:active{
  background-color: orangered;
}
#p4 {
  grid-area: footer;
  display: flex;
  align-items: center;
  width: 1380px;
  height: 300px;
  background-color: black
}
.footer{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer>p{
  text-align: center;
  font-size: 14px;
  color: white;
}
.icons{
  color: white;
  display: flex;
  gap: 10px;
}
.display-footer{
  color: white;
  display: flex;
  align-items: center;
  padding: 50px 65px;
  flex-direction: column;
  gap: 10px;
}

.item{
  color: white;
}

